@juego de caracteres  "UTF-8" ;
@importar  URL ( "https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" );
URL de importación ( "https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100 ;1,200;1,300;1,400;1,500;1,600&display=swap" );

/*marca de agua*/

.agua:before {
  position: fixed;
  content: '';
  bottom: 2vh;
  right: 5vh;
  width: 30.02024vh;
  height: 28vh;
  opacity: 0.5;
  background-image: url("../img/anagrama%20mio100.png");/* tb puedo poner una direccion en internet*/
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat; }

  /*Imagen banner de Poerada*/

header.portada {
    width: 100%;
    height: 50vh;
    background-image: url("https://cdn.pixabay.com/photo/2020/02/09/13/08/banner-4833105_960_720.jpg" );
    background position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

/*titulo centrado dentro de la imagen*/
header.portada {
    position: relative;
}

header.portada h2 {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 1em 0;
    text-align: center;
    background-color: rgba(0,0,0,6);
    color: #ffffff;
    
}

/*stylos imagenes validadoras*/
/*Reglas comunes*/

figure.w3c.css{
    background-image: url ( "../svg/w3c/css.svg" );
}
figure.w3c.wcag{
    background-image: url ("../svg/w3c/mcag.svg");
}
figure.w3c.html5{
    background-image: url("../svg/w3c/html5.svg");
}

figure.w3c{
  width: 88px;
  height: 31px;
  position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

}

figure.caja {

    width: 500px;
    height: 300px;
    background: yellow;
    background-image: url("https://pixabay.com/es/photos/cepillos-pintor-taller-cuenco-3129361/");
    background-repeat: no-repeat;
    background-position: cover;
    background-position: 50% 50%;
}

article.image{
    
    width: 500px;
    height: 300px;
    background-color: blue;
}

article.image{
    position: relative
}

article.image:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("https://cdn.pixabay.com/photo/2017/12/10/17/40/prague-3010407_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    opacity: 0.5;
    
}




article.image h2,
article.image p {
    text-align: center;
    position: relative;
    color: white;
}

article.image p{
  font-weight: bold;
}



/*maquetación*/

body main section {
  padding: vw;
}

    
    
    