/*marca de agua*/

.agua:before {
  position: fixed;
  content: '';
  bottom: 2vh;
  right: 5vh;
  width: 30.02024vh;
  height: 28vh;
  opacity: 0.5;
  background-image: url("../img/anagrama%20mio100.png");/* tb puedo poner una direccion en internet*/
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat; }
header.portada {
    width: 100%;
    height: 50vh;
    background-image: https: //cdn.pixabay.com/photo/2020/02/09/13/08/banner-4833105_960_720.jpg;
    background position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

/*titulo centrado dentro de la imagen*/
header.portada {
    position: relative;
}

header.portada {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 1em 0;
    text-align: center;
    background-color: rgba(0,0,0,6);
    color: #ffffff;
    
}





/*stylos imagenes*/

figure.w3c.css {
    
    background-image: url("../svg/w3c/css.svg");
        
}

figure.w3c.mcag {
    
    background-image: url("../svg/w3c/mcag.svg");
        
}

figure.w3c.html5 {
    
    background-image: url("../svg/w3c/html5.svg");
        
}




figure.caja {

    width: 500px;
    height: 300px;
    background: yellow;
    
    
    
    }
article.image{
    
    width: 500px;
    height: 300px;
    background: blue;
}

article.image{
    position: relative
}

article.image:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url(" https://cdn.pixabay.com/photo/2017/12/10/17/40/prague-3010407_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    opacity: 0.5;
    
}




article.image h2,
article.image p, {
    text-align: center;
    position: relative;
    
}
    
    
    